.header {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

.header__left {
  grid-column: span 11;
  padding-left: 15.9%;
  padding-top: 4.8%;
  padding-bottom: 8.6%;
  background-image: url('/img/header_background_left.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (min-resolution:2dppx), (min-width: 1500px) {
    background-image: url('/img/header_background_left.png');
  }
}

.header__right {
  grid-column: span 5;
  padding-top: 10.8%;
  background-color: $secondarycolor;
  position: relative;
}

.header__logo {
  display: block;
  max-width: 100%;
}

.header__slogan {

  font-size: 18px;
  font-family: "Roboto Condensed";
  color: $textcolor;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 1%;

  @media (min-width: 1500px) {
    @include dynamicText (112.5%, 36, 18, 1500px, 3000, 1500);
  }
}

.header__adress {
  font-size: 13px;
  font-family: "Roboto Condensed";
  color:$white;
  text-transform: uppercase;
  line-height: 1.077;
  position: absolute;
  left:12.9%;
  top: 56%;
}

.header__contacts {
  font-size: 13px;
  font-family: "Roboto Condensed";
  color: $white;
  text-transform: uppercase;
  line-height: 1.077;
  position: absolute;
  left:27%;
  top: 78%;

}

.header__mail,.header__tel {
  color: $white;
  text-transform: uppercase;
  line-height: 1.077;
  text-decoration: none;
  display: inline-block;
  transition-property: color;
  transition-duration: 500ms;

  &:hover {
    color:$activetext;
  }
}

@media (max-width: 980px) {
  .header__left {
    grid-column: span 9;
  }
  .header__right {
    grid-column: span 7;
  }
}

@media (max-width: 560px) {
  .header {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }

  .header__right {
    grid-column: span 1;
    grid-row: 1 / 2;
  }

  .header__left {
    grid-column: span 1;
    grid-raw: 2 /3;
  }

  .header__adress {
    position: static;
    margin-left: 10%;
    margin-top: 10%;
  }

  .header__contacts {
    position: static;
    margin-left: 35%;
    margin-bottom: 20%;
    margin-top: 20%;
  }
}
