@font-face {
font-family: 'RobotoCondensed_bold';
src: url('/fonts/RobotoCondensed-Bold.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'RobotoCondensed_regular';
src: url('/fonts/RobotoCondensed-regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'RobotoCondensed_light';
src: url('/fonts/RobotoCondensed-light.woff') format('woff');
font-weight: normal;
font-style: normal;
}
