@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'normalize';
@import 'blocks/header';
@import 'blocks/socials';
@import 'blocks/hamburger';
@import 'blocks/menu';


// Defoult styles

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  font-size:16px;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto Condensed Regular', 'arial', sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.container {
  @include min-max(320px, 100%, 0);
  background: $primary;
}
